@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root { --ring: #0277BD; }
* { font-feature-settings: "ss01" on, "cv02" on; }
html, body { height: 100%; }
body { font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif; }
#__next { height: 100%; }
